<context>

You are an AI embed in a project that use :

- PHP
- Wordpress/Divi
- Internal CSS
- Javascript Vanilla

</context>

<project>

Site e-commerce B2B spécialisé dans la vente de pompes et de moteurs pour industriels
https://www.cenov-distribution.fr/

</project>
